{% extends "base.html" %}

{% block title %}
Registro de usuario
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-body">

                <h2 class="text-center mb-4">
                    Registrar usuario
                </h2>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}



                <form method="POST" novalidate>

                    {{ form.hidden_tag() }}

                    <div class="mb-3">

                        {{ form.usuario.label(class="form-label") }}
                        {{ form.usuario(class="form-control") }}

                        {% for error in form.usuario.errors %}
                            <div class="text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                    </div>

                    <div class="mb-3">

                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}

                        {% for error in form.password.errors %}
                            <div class="text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                    </div>

                    {{ form.submit(class="btn btn-success w-100") }}

                </form>

                <div class="text-center mt-3">

                    <a href="{{ url_for('login') }}">
                        ¿Ya tienes una cuenta? Inicia sesión
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}